.pageContent {
    > .container > .row {
        height: 85vh;
    }
    .accountsArea {
        li {
            margin: 0 5px;
        }
    }
}
.pageContent {
    background-repeat: no-repeat;
    background-size: cover;
}